<a href="https://colab.research.google.com/github/IgorNascAlves/Tech_Challenge_Fase01/blob/main/explorando.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
url_ExpVinho = 'https://raw.githubusercontent.com/IgorNascAlves/Tech_Challenge_Fase01/main/tech-challenge/content/ExpVinho.csv'

In [2]:
import pandas as pd

In [11]:
df_ExpVinho = pd.read_csv(url_ExpVinho, sep=';', header=0)
df_ExpVinho

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,1,Afeganistão,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,11,46
1,2,África do Sul,0,0,0,0,0,0,0,0,...,0,0,0,0,26,95,4,21,0,0
2,3,"Alemanha, República Democrática",0,0,0,0,4168,2630,12000,8250,...,15467,87702,10794,45382,3660,25467,6261,32605,2698,6741
3,4,Angola,0,0,0,0,0,0,0,0,...,10170,61680,477,709,345,1065,0,0,0,0
4,5,Anguilla,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,120,Tuvalu,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,4,0,0
120,121,Uruguai,0,0,0,0,0,0,0,0,...,0,0,7711,29617,6180,18497,0,0,136774,149842
121,122,Vanuatu,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,18,31,0,0
122,123,Venezuela,0,0,3200,2000,1350,750,11700,6458,...,680,2646,71,355,0,0,4086,9808,26415,35944
123,124,Vietnã,0,0,0,0,0,0,0,0,...,0,0,0,0,20,32,86,584,0,0