In [2]:
import pandas as pd

In [3]:
#quero ler o csv Comercio.csv
df_Comercio = pd.read_csv("../data/dados_raws/Comercio.csv", sep=";", header=None)
dict_Comercio_colunas_novos = {1: 'Tipo', 2: 'Produto'}

#criando um dicionario para renomear as colunas
for ind, ano in enumerate(range(1970, 2022)):
  dict_Comercio_colunas_novos[ind + 3] = ano

#renomeando as colunas e removendo a primeira linha
df_Comercio = df_Comercio.rename(dict_Comercio_colunas_novos, axis=1).drop(0,axis=1)
df_Comercio.head()

,Tipo,Produto,1970,1971,1972,1973,1974,1975,1976,1977,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,VINHO DE MESA,VINHO DE MESA,98327606,114399031,118377367,116617910,94173324,108031792,139238614,140813114,...,206969571,221590810,206404427,209198468,166769622,176059959,177186273,180446489,215557931,210012238
1,vm_Tinto,Tinto,83300735,98522869,101167932,98196747,77167303,91528090,116407222,116609545,...,173964776,188033494,178250072,182028785,146646365,154309442,155115499,158519218,189573423,185653678
2,vm_Rosado,Rosado,107681,542274,7770851,8425617,8891367,7261777,11748047,15195525,...,1738134,1777648,1419855,1409002,1391942,1097426,1972944,1265435,1394901,1931606
3,vm_Branco,Branco,14919190,15333888,9438584,9995546,8114654,9241925,11083345,9008044,...,31266661,31779668,26734500,25760681,18731315,20653091,20097830,20661836,24589607,22426954
4,VINHO FINO DE MESA,VINHO FINO DE MESA,4430629,4840369,5602091,7202830,7571802,8848303,14095648,14975330,...,22469950,27912934,20424983,20141631,19630158,15874354,14826143,15684588,24310834,27080445

In [4]:
#quero ler o csv ExpEspumantes
df_ExpEspumantes = pd.read_csv('../data/dados_raws/ExpEspumantes.csv', sep=';')
display(df_ExpEspumantes.head())

#quero ler o csv ExpVinhos
df_ExpVinho = pd.read_csv('../data/dados_raws/ExpVinho.csv', sep=';')
display(df_ExpVinho.head())

#quero ler o csv ExpSuco
df_ExpSuco = pd.read_csv('../data/dados_raws/ExpSuco.csv', sep=';')
display(df_ExpSuco.head())

#quero ler o csv ExpUva
df_ExpUva = pd.read_csv('../data/dados_raws/ExpUva.csv', sep=';')
display(df_ExpUva.head())

#quero ler o csv ExpEspumantes.csv
df_ExpEspumantes = pd.read_csv('../data/dados_raws/ExpEspumantes.csv', sep=';')
display(df_ExpEspumantes.head())

#quero ler o csv ExpSuco.csv
df_ExpSuco = pd.read_csv('../data/dados_raws/ExpSuco.csv', sep=';')
display(df_ExpSuco.head())

#quero ler o csv ExpUva.csv
df_ExpUva = pd.read_csv('../data/dados_raws/ExpUva.csv', sep=';')
display(df_ExpUva.head())

#quero ler o csv ExpVinho.csv
df_ExpVinho = pd.read_csv('../data/dados_raws/ExpVinho.csv', sep=';')
display(df_ExpVinho.head())

#quero ler o csv ImpEspumantes.csv
df_ImpEspumantes = pd.read_csv('../data/dados_raws/ImpEspumantes.csv', sep=';')
display(df_ImpEspumantes.head())

#quero ler o csv ImpFrescas.csv
df_ImpFrescas = pd.read_csv('../data/dados_raws/ImpFrescas.csv', sep=';')
display(df_ImpFrescas.head())

#quero ler o csv ImpPassas.csv
df_ImpPassas = pd.read_csv('../data/dados_raws/ImpPassas.csv', sep=';')
display(df_ImpPassas.head())

#quero ler o csv ImpSuco.csv
df_ImpSuco = pd.read_csv('../data/dados_raws/ImpSuco.csv', sep=';')
display(df_ImpSuco.head())

#quero ler o csv ImpVinhos.csv
df_ImpVinhos = pd.read_csv('../data/dados_raws/ImpVinhos.csv', sep=';')
display(df_ImpVinhos.head())

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,1,Alemanha,0,0,0,0,0,0,0,0,...,4824,28799,4092,21373,1003,5466,2388,14767,142,265
1,2,Angola,0,0,0,0,0,0,0,0,...,0,0,63,280,1007,3615,24,38,0,0
2,3,Antigua e Barbuda,0,0,0,0,0,0,0,0,...,0,0,0,0,7,34,32,328,10,82
3,4,Antilhas Holandesas,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Argentina,0,0,0,0,0,0,0,0,...,0,0,4342,17243,0,0,315,894,0,0

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,1,Afeganistão,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,11,46
1,2,África do Sul,0,0,0,0,0,0,0,0,...,0,0,0,0,26,95,4,21,0,0
2,3,"Alemanha, República Democrática",0,0,0,0,4168,2630,12000,8250,...,15467,87702,10794,45382,3660,25467,6261,32605,2698,6741
3,4,Angola,0,0,0,0,0,0,0,0,...,10170,61680,477,709,345,1065,0,0,0,0
4,5,Anguilla,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,1,África do Sul,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,"Alemanha, República Democrática da",0,0,0,0,9962,6514,238418,160979,...,0,0,96,91,12,24,86,44,13,4
2,3,Angola,0,0,0,0,0,0,0,0,...,160,1185,1895,1553,0,0,17766,21627,6073,5915
3,4,Antígua e Barbuda,0,0,0,0,0,0,0,0,...,0,0,48,53,95,99,36,25,120,168
4,5,Antilhas Holandesas,0,0,0,0,1125,945,144,135,...,0,0,0,0,0,0,0,0,0,0

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,1,Africa do Sul,0,0,0,0,0,0,0,0,...,0,0,0,0,8,30,44,152,0,0
1,2,"Alemanha, República Democrática",0,0,135,103,0,0,0,0,...,3353831,6730502,2870420,5833592,1863097,3480290,1371694,2791556,1461590,2569452
2,3,Angola,0,0,0,0,0,0,0,0,...,0,0,15,33,75,145,0,0,0,0
3,4,Antígua e Barbuda,0,0,0,0,0,0,0,0,...,0,0,65,164,190,580,304,1013,437,1349
4,5,Arabia Saudita,0,0,0,0,0,0,0,0,...,0,0,14725,28615,167731,271231,32325,95999,2818,14671

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,1,Alemanha,0,0,0,0,0,0,0,0,...,4824,28799,4092,21373,1003,5466,2388,14767,142,265
1,2,Angola,0,0,0,0,0,0,0,0,...,0,0,63,280,1007,3615,24,38,0,0
2,3,Antigua e Barbuda,0,0,0,0,0,0,0,0,...,0,0,0,0,7,34,32,328,10,82
3,4,Antilhas Holandesas,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Argentina,0,0,0,0,0,0,0,0,...,0,0,4342,17243,0,0,315,894,0,0

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,1,África do Sul,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,"Alemanha, República Democrática da",0,0,0,0,9962,6514,238418,160979,...,0,0,96,91,12,24,86,44,13,4
2,3,Angola,0,0,0,0,0,0,0,0,...,160,1185,1895,1553,0,0,17766,21627,6073,5915
3,4,Antígua e Barbuda,0,0,0,0,0,0,0,0,...,0,0,48,53,95,99,36,25,120,168
4,5,Antilhas Holandesas,0,0,0,0,1125,945,144,135,...,0,0,0,0,0,0,0,0,0,0

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,1,Africa do Sul,0,0,0,0,0,0,0,0,...,0,0,0,0,8,30,44,152,0,0
1,2,"Alemanha, República Democrática",0,0,135,103,0,0,0,0,...,3353831,6730502,2870420,5833592,1863097,3480290,1371694,2791556,1461590,2569452
2,3,Angola,0,0,0,0,0,0,0,0,...,0,0,15,33,75,145,0,0,0,0
3,4,Antígua e Barbuda,0,0,0,0,0,0,0,0,...,0,0,65,164,190,580,304,1013,437,1349
4,5,Arabia Saudita,0,0,0,0,0,0,0,0,...,0,0,14725,28615,167731,271231,32325,95999,2818,14671

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,1,Afeganistão,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,11,46
1,2,África do Sul,0,0,0,0,0,0,0,0,...,0,0,0,0,26,95,4,21,0,0
2,3,"Alemanha, República Democrática",0,0,0,0,4168,2630,12000,8250,...,15467,87702,10794,45382,3660,25467,6261,32605,2698,6741
3,4,Angola,0,0,0,0,0,0,0,0,...,10170,61680,477,709,345,1065,0,0,0,0
4,5,Anguilla,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,1,Africa do Sul,0,0,0,0,0,0,0,0,...,4913,23919,15368,74800,17583,72077,3574,14542,6980,36677
1,2,Alemanha,0,0,25,36,2864,2479,2900,3130,...,4819,37116,18376,82273,26853,169989,21174,65359,19977,46237
2,3,Argentina,4980,3836,8811,7543,35301,26909,39208,20230,...,661857,2249681,706478,2462909,757716,2282614,469547,1304986,723847,2211657
3,4,Austrália,0,0,0,0,0,0,0,0,...,19198,51731,57917,212199,16701,27592,7426,15190,8062,26208
4,5,Austria,0,0,0,0,0,0,0,0,...,0,0,1228,11638,1269,11571,909,9399,90,1434

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,1,Argélia,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,21746,34476,0,0
1,2,Argentina,2412831,782408,1805310,684328,1965010,779841,396840,253061,...,2097970,3302565,1616855,2499358,3211513,4659791,1798220,2559671,1356735,1696659
2,3,Brasil,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Chile,1557316,409704,1485897,381705,1680664,578569,2472710,958295,...,18510455,29248621,16103415,25237521,9082957,13450429,4943446,6986630,3888723,5404163
4,5,Colômbia,0,0,3312,2168,0,0,63645,37098,...,0,0,0,0,0,0,0,0,0,0

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,1,Afeganistão,0,0,0,0,0,0,0,0,...,0,0,0,0,40000,65452,0,0,0,484
1,2,África do Sul,0,0,0,0,0,0,0,0,...,370500,942442,1089700,3106052,270875,763921,616688,1433381,327000,531327
2,3,"Alemanha, República Democrática",0,0,0,0,3000,3366,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Arábia Saudita,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Argentina,1530058,845068,1206326,936632,1047482,981648,1277380,1848195,...,19742996,34422405,23564519,43501396,24135143,48810789,24992502,36743996,24015825,33337604

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,1,Africa do Sul,0,0,0,0,0,0,0,0,...,22029,17551,21618,18334,0,0,0,0,0,0
1,2,Alemanha,0,0,0,0,0,0,0,0,...,0,0,80,652,0,0,0,0,0,0
2,3,Argentina,0,0,0,0,0,0,3600,1350,...,72900,90518,2998,3139,0,0,0,0,0,0
3,4,Austria,0,0,0,0,0,0,0,0,...,1333,1467,0,0,666,655,0,0,0,0
4,5,Canadá,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,1,Africa do Sul,0,0.0,0,0,0,0,0,0,...,1138732,3241298,1127053,3574371,1092042,3604038,627150,1701072,859169,2508140
1,2,Alemanha,52297,30498.0,34606,26027,134438,92103,111523,98638,...,83289,315959,142971,516975,101055,412794,136992,504168,106541,546967
2,3,Argélia,0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Arábia Saudita,0,0.0,0,0,0,0,0,0,...,0,0,563,3249,0,0,0,0,2510,8761
4,5,Argentina,19525,12260.0,24942,15022,104906,58137,116887,76121,...,15461740,51770842,15221318,52817642,16548931,54527380,22610267,66322932,26869241,79527959

In [5]:
#quero ler o csv ProcessaAmericanas.csv
df_ProcessaAmericanas = pd.read_csv('../data/dados_raws/ProcessaAmericanas.csv', sep=';')
display(df_ProcessaAmericanas.head())

#quero ler o csv ProcessaMesa.csv
df_ProcessaMesa = pd.read_csv('../data/dados_raws/ProcessaMesa.csv', sep=';')
display(df_ProcessaMesa.head())

#quero ler o csv ProcessaSemclass.csv
df_ProcessaSemclass = pd.read_csv('../data/dados_raws/ProcessaSemclass.csv', sep=';')
display(df_ProcessaSemclass.head())

#quero ler o csv ProcessaViniferas.csv
df_ProcessaViniferas = pd.read_csv('../data/dados_raws/ProcessaViniferas.csv', sep=';')
display(df_ProcessaViniferas.head())

,id,control,cultivar,1970,1971,1972,1973,1974,1975,1976,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,1,TINTAS,TINTAS,284285642,193695427,187251954,161593877,295404693,282003228,222289729,...,527332818,460738996,471555903,537592720,235356261,600605876,519506589,nd,376136313,394224543
1,2,ti_Bacarina,Bacarina,82899,106962,67464,58690,138158,101454,57297,...,3820,2990,3900,0,0,0,0,nd,0,0
2,3,ti_Bailey,Bailey,0,0,0,0,0,0,0,...,912286,756000,991449,963159,442784,1370092,539742,nd,534981,4092669
3,4,ti_Bordo,Bordo,7242197,7227090,6530686,5584243,13341412,16023998,12725233,...,127378006,102788361,113008320,137467196,60976531,160146475,158405972,nd,129978861,117655879
4,5,ti_Bourdin (S),Bourdin (S),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,nd,0,0

,id,control,cultivar,1970,1971,1972,1973,1974,1975,1976,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,1,TINTAS,TINTAS,56976,43390,4428,8939,125563,183731,88512,...,145132,75362,65850,108797,51310,85510,62567,nd,63474,21732
1,2,ti_ Alphonse Lavallee,Alphonse Lavallee,31878,2333,170,7690,124762,74293,23684,...,0,0,0,0,0,0,0,nd,0,0
2,3,ti_ Moscato de Hamburgo,Moscato de Hamburgo,25098,41057,4258,1249,801,109438,64828,...,145132,75362,65850,108797,51310,85510,62567,nd,63474,21732
3,4,BRANCAS,BRANCAS,3900,16335,6829,8052,278951,587745,153445,...,62564,4412,30600,64540,3260,5900,730,nd,45610,52760
4,5,br_Cardinal,Cardinal,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,nd,0,0

,id,control,cultivar,1970,1971,1972,1973,1974,1975,1976,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,1,sc,Sem classificação,3675463,665425,197232,491357,57307,540146,24440,...,0,0,0,0,0,0,0,nd,166947,0

,id,control,cultivar,1970,1971,1972,1973,1974,1975,1976,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,1,TINTAS,TINTAS,10448228,11012833,10798824,8213674,17457849,22593885,20265190,...,39303313,36855419,29810706,29935627,13370866,32850915,26868514,nd,28003505,93296587
1,2,ti_Alicante Bouschet,Alicante Bouschet,0,0,0,0,0,0,0,...,2098824,1524728,1456305,1519576,908841,2040198,2103844,nd,2272985,811140
2,3,ti_Ancelota,Ancelota,0,0,0,0,0,0,0,...,1274677,1137943,937844,773526,179028,733907,492106,nd,481402,6513974
3,4,ti_Aramon,Aramon,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,nd,0,0
4,5,ti_Alfrocheiro,Alfrocheiro,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,nd,0,0

In [6]:
#quero ler o Producao.csv
df_Producao = pd.read_csv('../data/dados_raws/Producao.csv', sep=';', header=None)
dict_Producao_colunas_novos = {1: 'Tipo', 2: 'Produto'}

#criando um dicionario para renomear as colunas
for ind, ano in enumerate(range(1970, 2022)):
    dict_Producao_colunas_novos[ind + 3] = ano

#renomeando as colunas e removendo a primeira linha
df_Producao = df_Producao.rename(dict_Producao_colunas_novos, axis=1).drop(0,axis=1)

display(df_Producao.head())

,Tipo,Produto,1970,1971,1972,1973,1974,1975,1976,1977,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,VINHO DE MESA,VINHO DE MESA,217208604,154264651,146953297,116710345,193875345,177401209,144565438,195359778,...,212777037,196904222,196173123,210308560,86319015,255015187,218375636,144629737,124200414,173899995
1,vm_Tinto,Tinto,174224052,121133369,118180926,88589019,146544484,144274134,118360170,154801826,...,175875432,163111797,157776363,169811472,75279191,1365957,188270142,121045115,103916391,146075996
2,vm_Branco,Branco,748400,1160500,1812367,243900,4138768,1441507,1871473,4954387,...,34938249,32066403,37438069,39557250,10727099,217527985,29229970,22032828,19568734,26432799
3,vm_Rosado,Rosado,42236152,31970782,26960004,27877426,43192093,31685568,24333795,35603565,...,1963356,1726022,958691,939838,312725,36121245,875524,1551794,715289,1391200
4,VINHO FINO DE MESA (VINÍFERA),VINHO FINO DE MESA (VINÍFERA),23899346,23586062,21078771,12368410,31644124,39424590,34500590,41264971,...,45200730,45782530,38464314,37148982,18070626,44537870,38707220,37615422,32516686,43474998

In [7]:
#print all columns
pd.set_option('display.max_columns', None)

In [8]:
#print only the columns from all dataframes on the list
df_list = [df_Comercio, df_ExpEspumantes, df_ExpSuco, df_ExpUva, df_ExpVinho, df_ImpEspumantes, df_ImpFrescas, df_ImpPassas, df_ImpSuco, df_ImpVinhos, df_ProcessaAmericanas, df_ProcessaMesa, df_ProcessaSemclass, df_ProcessaViniferas, df_Producao]
for df in df_list:
    display(df.columns)

Index([   'Tipo', 'Produto',      1970,      1971,      1972,      1973,
            1974,      1975,      1976,      1977,      1978,      1979,
            1980,      1981,      1982,      1983,      1984,      1985,
            1986,      1987,      1988,      1989,      1990,      1991,
            1992,      1993,      1994,      1995,      1996,      1997,
            1998,      1999,      2000,      2001,      2002,      2003,
            2004,      2005,      2006,      2007,      2008,      2009,
            2010,      2011,      2012,      2013,      2014,      2015,
            2016,      2017,      2018,      2019,      2020,      2021],
      dtype='object')

Index(['Id', 'País', '1970', '1970.1', '1971', '1971.1', '1972', '1972.1',
       '1973', '1973.1',
       ...
       '2017', '2017.1', '2018', '2018.1', '2019', '2019.1', '2020', '2020.1',
       '2021', '2021.1'],
      dtype='object', length=106)

Index(['Id', 'País', '1970', '1970.1', '1971', '1971.1', '1972', '1972.1',
       '1973', '1973.1',
       ...
       '2017', '2017.1', '2018', '2018.1', '2019', '2019.1', '2020', '2020.1',
       '2021', '2021.1'],
      dtype='object', length=106)

Index(['Id', 'País', '1970', '1970.1', '1971', '1971.1', '1972', '1972.1',
       '1973', '1973.1',
       ...
       '2017', '2017.1', '2018', '2018.1', '2019', '2019.1', '2020', '2020.1',
       '2021', '2021.1'],
      dtype='object', length=106)

Index(['Id', 'País', '1970', '1970.1', '1971', '1971.1', '1972', '1972.1',
       '1973', '1973.1',
       ...
       '2017', '2017.1', '2018', '2018.1', '2019', '2019.1', '2020', '2020.1',
       '2021', '2021.1'],
      dtype='object', length=106)

Index(['Id', 'País', '1970', '1970.1', '1971', '1971.1', '1972', '1972.1',
       '1973', '1973.1',
       ...
       '2017', '2017.1', '2018', '2018.1', '2019', '2019.1', '2020', '2020.1',
       '2021', '2021.1'],
      dtype='object', length=106)

Index(['Id', 'País', '1970', '1970.1', '1971', '1971.1', '1972', '1972.1',
       '1973', '1973.1',
       ...
       '2017', '2017.1', '2018', '2018.1', '2019', '2019.1', '2020', '2020.1',
       '2021', '2021.1'],
      dtype='object', length=106)

Index(['Id', 'País', '1970', '1970.1', '1971', '1971.1', '1972', '1972.1',
       '1973', '1973.1',
       ...
       '2017', '2017.1', '2018', '2018.1', '2019', '2019.1', '2020', '2020.1',
       '2021', '2021.1'],
      dtype='object', length=106)

Index(['Id', 'País', '1970', '1970.1', '1971', '1971.1', '1972', '1972.1',
       '1973', '1973.1',
       ...
       '2017', '2017.1', '2018', '2018.1', '2019', '2019.1', '2020', '2020.1',
       '2021', '2021.1'],
      dtype='object', length=106)

Index(['Id', 'País', '1970', '1970.1', '1971', '1971.1', '1972', '1972.1',
       '1973', '1973.1',
       ...
       '2017', '2017.1', '2018', '2018.1', '2019', '2019.1', '2020', '2020.1',
       '2021', '2021.1'],
      dtype='object', length=106)

Index(['id', 'control', 'cultivar', '1970', '1971', '1972', '1973', '1974',
       '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021'],
      dtype='object')

Index(['id', 'control', 'cultivar', '1970', '1971', '1972', '1973', '1974',
       '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021'],
      dtype='object')

Index(['id', 'control', 'cultivar', '1970', '1971', '1972', '1973', '1974',
       '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021'],
      dtype='object')

Index(['id', 'control', 'cultivar', '1970', '1971', '1972', '1973', '1974',
       '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021'],
      dtype='object')

Index([   'Tipo', 'Produto',      1970,      1971,      1972,      1973,
            1974,      1975,      1976,      1977,      1978,      1979,
            1980,      1981,      1982,      1983,      1984,      1985,
            1986,      1987,      1988,      1989,      1990,      1991,
            1992,      1993,      1994,      1995,      1996,      1997,
            1998,      1999,      2000,      2001,      2002,      2003,
            2004,      2005,      2006,      2007,      2008,      2009,
            2010,      2011,      2012,      2013,      2014,      2015,
            2016,      2017,      2018,      2019,      2020,      2021],
      dtype='object')

In [9]:
# concat all dataframes df_ExpEspumantes df_ExpVinho df_ExpSuco df_ExpUva df_ExpEspumantes df_ExpSuco df_ExpUva df_ExpVinho df_ImpEspumantes df_ImpFrescas df_ImpPassas df_ImpSuco df_ImpVinhos
df_ExpEspumantes['Tipo'] = 'Exportação'
df_ExpEspumantes['Produto'] = 'Espumantes'
df_ExpVinho['Tipo'] = 'Exportação'
df_ExpVinho['Produto'] = 'Vinho'
df_ExpSuco['Tipo'] = 'Exportação'
df_ExpSuco['Produto'] = 'Suco'
df_ExpUva['Tipo'] = 'Exportação'
df_ExpUva['Produto'] = 'Uva'
df_ExpEspumantes['Tipo'] = 'Exportação'
df_ExpEspumantes['Produto'] = 'Espumantes'
df_ExpSuco['Tipo'] = 'Exportação'
df_ExpSuco['Produto'] = 'Suco'
df_ExpUva['Tipo'] = 'Exportação'
df_ExpUva['Produto'] = 'Uva'
df_ExpVinho['Tipo'] = 'Exportação'
df_ExpVinho['Produto'] = 'Vinho'
df_ImpEspumantes['Tipo'] = 'Importação'
df_ImpEspumantes['Produto'] = 'Espumantes'
df_ImpFrescas['Tipo'] = 'Importação'
df_ImpFrescas['Produto'] = 'Uva Fresca'
df_ImpPassas['Tipo'] = 'Importação'
df_ImpPassas['Produto'] = 'Uva Passa'
df_ImpSuco['Tipo'] = 'Importação'
df_ImpSuco['Produto'] = 'Suco'
df_ImpVinhos['Tipo'] = 'Importação'
df_ImpVinhos['Produto'] = 'Vinho'

df_completo = pd.concat([df_ExpEspumantes, df_ExpSuco, df_ExpUva, df_ExpVinho, df_ImpEspumantes, df_ImpFrescas, df_ImpPassas, df_ImpSuco, df_ImpVinhos], ignore_index=True)
display(df_completo.head())

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,1974,1974.1,1975,1975.1,1976,1976.1,1977,1977.1,1978,1978.1,1979,1979.1,1980,1980.1,1981,1981.1,1982,1982.1,1983,1983.1,1984,1984.1,1985,1985.1,1986,1986.1,1987,1987.1,1988,1988.1,1989,1989.1,1990,1990.1,1991,1991.1,1992,1992.1,1993,1993.1,1994,1994.1,1995,1995.1,1996,1996.1,1997,1997.1,1998,1998.1,1999,1999.1,2000,2000.1,2001,2001.1,2002,2002.1,2003,2003.1,2004,2004.1,2005,2005.1,2006,2006.1,2007,2007.1,2008,2008.1,2009,2009.1,2010,2010.1,2011,2011.1,2012,2012.1,2013,2013.1,2014,2014.1,2015,2015.1,2016,2016.1,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1,Tipo,Produto
0,1,Alemanha,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2816,5882,0,0,0,0,730,3045,549,2670,153,928,3547,10192,5423,20928,6648,29018,1958,6877,1976,12018,833,5072,5809,30461,9236,62169,6256,30939,4293,19088,4824,28799,4092,21373,1003,5466,2388,14767,142,265,Exportação,Espumantes
1,2,Angola,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,600,6276,0,0,0,0,0,0,430,491,19474,18696,1798,13018,784,492,0,0,368,367,793,1040,419,656,3314,6657,6293,26252,2244,10581,11393,33664,104138,672533,904,14196,73,1426,5850,21060,6866,22423,0,0,90,1010,0,0,63,280,1007,3615,24,38,0,0,Exportação,Espumantes
2,3,Antigua e Barbuda,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7,34,32,328,10,82,Exportação,Espumantes
3,4,Antilhas Holandesas,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,180,1660,0,0,9144,65766,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Exportação,Espumantes
4,5,Argentina,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22900,29840,9873,16455,0,0,0,0,0,0,0,0,0,0,36,240,0,0,6914,21015,466,2858,0,0,162827,157912,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4342,17243,0,0,315,894,0,0,Exportação,Espumantes

In [12]:
colunas_nomes_anos = df_ExpVinho.columns[2:]
colunas_nomes_anos

Index(['1970', '1970.1', '1971', '1971.1', '1972', '1972.1', '1973', '1973.1',
       '1974', '1974.1',
       ...
       '2018', '2018.1', '2019', '2019.1', '2020', '2020.1', '2021', '2021.1',
       'Tipo', 'Produto'],
      dtype='object', length=106)

In [14]:
# count lines df_ExpEspumantes df_ExpVinho df_ExpSuco df_ExpUva df_ExpEspumantes df_ExpSuco df_ExpUva df_ExpVinho df_ImpEspumantes df_ImpFrescas df_ImpPassas df_ImpSuco df_ImpVinhos
dict_colunas_nomes = {chave: chave[:4] + '_Quantidade (Kg)' if not ind%2 else chave[:4] + '_Valor (US$)' for ind, chave in enumerate(colunas_nomes_anos) }

In [15]:
df_completo.rename(dict_colunas_nomes, axis=1)

,Id,País,1970_Quantidade (Kg),1970_Valor (US$),1971_Quantidade (Kg),1971_Valor (US$),1972_Quantidade (Kg),1972_Valor (US$),1973_Quantidade (Kg),1973_Valor (US$),1974_Quantidade (Kg),1974_Valor (US$),1975_Quantidade (Kg),1975_Valor (US$),1976_Quantidade (Kg),1976_Valor (US$),1977_Quantidade (Kg),1977_Valor (US$),1978_Quantidade (Kg),1978_Valor (US$),1979_Quantidade (Kg),1979_Valor (US$),1980_Quantidade (Kg),1980_Valor (US$),1981_Quantidade (Kg),1981_Valor (US$),1982_Quantidade (Kg),1982_Valor (US$),1983_Quantidade (Kg),1983_Valor (US$),1984_Quantidade (Kg),1984_Valor (US$),1985_Quantidade (Kg),1985_Valor (US$),1986_Quantidade (Kg),1986_Valor (US$),1987_Quantidade (Kg),1987_Valor (US$),1988_Quantidade (Kg),1988_Valor (US$),1989_Quantidade (Kg),1989_Valor (US$),1990_Quantidade (Kg),1990_Valor (US$),1991_Quantidade (Kg),1991_Valor (US$),1992_Quantidade (Kg),1992_Valor (US$),1993_Quantidade (Kg),1993_Valor (US$),1994_Quantidade (Kg),1994_Valor (US$),1995_Quantidade (Kg),1995_Valor (US$),1996_Quantidade (Kg),1996_Valor (US$),1997_Quantidade (Kg),1997_Valor (US$),1998_Quantidade (Kg),1998_Valor (US$),1999_Quantidade (Kg),1999_Valor (US$),2000_Quantidade (Kg),2000_Valor (US$),2001_Quantidade (Kg),2001_Valor (US$),2002_Quantidade (Kg),2002_Valor (US$),2003_Quantidade (Kg),2003_Valor (US$),2004_Quantidade (Kg),2004_Valor (US$),2005_Quantidade (Kg),2005_Valor (US$),2006_Quantidade (Kg),2006_Valor (US$),2007_Quantidade (Kg),2007_Valor (US$),2008_Quantidade (Kg),2008_Valor (US$),2009_Quantidade (Kg),2009_Valor (US$),2010_Quantidade (Kg),2010_Valor (US$),2011_Quantidade (Kg),2011_Valor (US$),2012_Quantidade (Kg),2012_Valor (US$),2013_Quantidade (Kg),2013_Valor (US$),2014_Quantidade (Kg),2014_Valor (US$),2015_Quantidade (Kg),2015_Valor (US$),2016_Quantidade (Kg),2016_Valor (US$),2017_Quantidade (Kg),2017_Valor (US$),2018_Quantidade (Kg),2018_Valor (US$),2019_Quantidade (Kg),2019_Valor (US$),2020_Quantidade (Kg),2020_Valor (US$),2021_Quantidade (Kg),2021_Valor (US$),Tipo_Quantidade (Kg),Prod_Valor (US$)
0,1,Alemanha,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2816,5882,0,0,0,0,730,3045,549,2670,153,928,3547,10192,5423,20928,6648,29018,1958,6877,1976,12018,833,5072,5809,30461,9236,62169,6256,30939,4293,19088,4824,28799,4092,21373,1003,5466,2388,14767,142,265,Exportação,Espumantes
1,2,Angola,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,600,6276,0,0,0,0,0,0,430,491,19474,18696,1798,13018,784,492,0,0,368,367,793,1040,419,656,3314,6657,6293,26252,2244,10581,11393,33664,104138,672533,904,14196,73,1426,5850,21060,6866,22423,0,0,90,1010,0,0,63,280,1007,3615,24,38,0,0,Exportação,Espumantes
2,3,Antigua e Barbuda,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7,34,32,328,10,82,Exportação,Espumantes
3,4,Antilhas Holandesas,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,180,1660,0,0,9144,65766,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Exportação,Espumantes
4,5,Argentina,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22900,29840,9873,16455,0,0,0,0,0,0,0,0,0,0,36,240,0,0,6914,21015,466,2858,0,0,162827,157912,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4342,17243,0,0,315,894,0,0,Exportação,Espumantes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
642,61,Ucrânia,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5319,9679,865,931,0,0,4646,3074,0,0,0,0,Importação,Vinho
643,62,Uruguai,5767,1871.0,1917,636,7394,2741,0,0,0,0,0,0,0,0,24191,33975,32371,33900,13320,22900,8880,16800,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11247,21795,33040,69221,35219,72528,33150,73695,72000,164299,89117,209952,277989,525654,1712036,2756398,1961733,3616134,1668697,3122694,1247891,2082552,1096094,1630471,660522,1089054,512973,924066,715474,1439538,2387225,3131899,920389,2089539,750343,1953390,1219387,3175051,1264306,3481552,1323884,3735892,1372329,3740613,1237537,3782282,1399547,4069100,2215692,5099162,5009098,7751966,2836574,8467846,2778244,7938059,4079076,10146829,3788831,10063341,Importação,Vinho
644,63,Não consta na tabela,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,63755,148879,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Importação,Vinho
645,64,Não declarados,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,21185,26664,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Importação,Vinho
646,65,Outros,5508,4255.0,77789,42028,79052,25032,4306,5775,21501,28163,18132,13989,10200,7884,450,642,1347,1210,2411,2614,10446,10543,17133,17869,22104,30505,6738,5862,26490,34499,5400,12812,15717,18768,28,40,435,450,10788,21458,65835,145083,97662,161151,24465,59352,146730,412893,174758,289230,200336,393140,127039,295772,186470,548733,187919,480461,49646,230829,73451,295205,47256,201927,64069,256700,0,0,0,0,13970,63967,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Importação,Vinho